<%= @students.each do |student| %>
  <p>
    <%= student.name %>
    <%= link_to "Edit #{student.name}", edit_student_path(student) %>
  </p>
<% end %>
<%= link_to 'Create Student', new_student_path %>
